.circle-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-90deg); Rotate entire text path */
}

.circle-text {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 129px;
  top: 30px;
  transform-origin: 0 100px; /* Align text on the circle border */
  font-size: 16px; /* Tailwind equivalent: text-sm */
  font-weight: 700;
  /* border: 1px solid rgb(17, 255, 0); Matches the circle border color */
  text-transform: uppercase;
  color: #FFFFFF; /* Matches the circle border color */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
